html, body {
    margin: 0;
    padding: 0;
}

#grid-div {
	width: 100%;
}

#grid-div table {
    font-size: 100%;
}

.ui-widget {
	font-family: Dotum,'Gulim',Helvetica,AppleSDGothicNeo,sans-serif;;
}